/* Important part */
.label {
  font-family: sans-serif;
  font-size: 10.5px;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
 }
.label {
  position: relative;
  top: -1px;
}
/* Corner roundness on label */
.label-none{
  border-radius: 0em
}
.label-pill{
  border-radius: 0.9em;
}
.label-slight{
  border-radius: 0.3em;
}
/* Color and use of label */
.label:empty {
  display: none;
}
a.label:focus,
a.label:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label-default {
  background-color: #777;
}
.label-default[href]:focus,
.label-default[href]:hover {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:focus,
.label-success[href]:hover {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:focus,
.label-info[href]:hover {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:focus,
.label-warning[href]:hover {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:focus,
.label-danger[href]:hover {
  background-color: #c9302c;
}
.label-yellow {
  background-color: #e7cf3a;
}
.label-yellow[href]:focus,
.label-yellow[href]:hover {
  background-color: #d7ac17;
}
/* <span class="label label-default label-none">Default</span> */